apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "parca.fullname" . }}-server-config
  labels:
    {{- include "parca.labels.server" . | nindent 4 }}
data:
  parca.yaml: |-
{{ toYaml .Values.server.config | indent 4 }}
    scrape_configs:
{{ toYaml .Values.server.scrapeConfigs | indent 4 }}